.left-indent-one {
    margin-left: 50px;
  }

.left-indent-two {
margin-left: 50px;
  }

.left-indent-three {
    margin-left: 50px;
  }

.left-indent-four {
    margin-left: 50px;
  }

.left-indent-five {
    margin-left: 50px;
  }

