.left-indent-one {
    margin-left: 50px;
  }

.left-indent-two {
margin-left: 50px;
  }

.left-indent-three {
    margin-left: 50px;
  }

.left-indent-four {
    margin-left: 50px;
  }

.left-indent-five {
    margin-left: 50px;
  }

  .category-container {
    transition: height 0.3s ease; /* Add smooth transition effect */
}

  .category-container.open {
    height: auto; /* Expand the container when the dropdown is open */
}
  

